<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.sjmarsh.movies2mobile.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_movies"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_movies_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Movies2Mobile">
        <activity
            android:name="com.sjmarsh.movies2mobile.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
</manifest>